﻿<section class="mainbar" data-ng-controller="admin as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="{{vm.title}}"></div>
                        <div class="widget-content user">
                            <h3>TODO: Implement Your Features</h3>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </section>
</section>
